svg {
}

.point,
.arc {
	transition: all 600ms ease-out;
}

.point {
	fill: rgba(136, 102, 114, .2);
	stroke: #fff;
	stroke-width: 4px;
	cursor: pointer;
}

.arc {
	stroke: rgba(136, 102, 114, .3);
	stroke-width: 1px;
	fill: transparent;
}

.point:hover,
.point.hover,
.point:active {
	fill: rgba(136, 102, 114, 1);
}

.point.highlight {
	fill: rgb(255, 246, 238);
	stroke: #00a19a;
	stroke-width:2px;
}

/*rgb(196, 4, 63);*/

.arc.hover {
	stroke-width: 2px;
	stroke: rgba(136, 102, 114, 1);
}

/* General styles for highlighted arcs */
.arc.depth-0, 
.arc.depth-1,
.arc.depth-2,
.arc.depth-3,
.arc.depth-4,
.arc.depth-5 {
	stroke-width: 2px;
	stroke: rgba(0, 161, 154, .2);
}

.arc.depth-m0, 
.arc.depth-m1,
.arc.depth-m2,
.arc.depth-m3,
.arc.depth-m4,
.arc.depth-m5 {
	stroke: rgba(196, 4, 63, .25);
	stroke-width: 1.2px;
}

/* Predecessors */
.point.depth-m2 { fill: rgba(196, 4, 63, .4); }
.arc.depth-m2 { stroke: rgba(196, 4, 63, .4);}

.point.depth-m1 { fill: rgba(196, 4, 63, .65); }
.arc.depth-m1 { stroke: rgba(196, 4, 63, .65); }

.point.depth-m0 { fill: rgba(196, 4, 63,  1); }
.arc.depth-m0 { stroke: rgba(196, 4, 63,  1); }

/* Descendants */
.point.depth-0 {  fill: rgba(0, 161, 154,  1); }
.arc.depth-0 {  stroke: rgba(0, 161, 154,  1); }

.point.depth-1 {  fill: rgba(0, 161, 154, .5); }
.arc.depth-1 {  stroke: rgba(0, 161, 154, .5); }

.point.depth-2 {  fill: rgba(0, 161, 154, .2); }
.arc.depth-2 {  stroke: rgba(0, 161, 154, .2); }


 .ThreadArcsContainer {
 		position: relative;
 		z-index: 99;
 }

/** Tooltip styles */
#ThreadArcsTooltip {
	position: absolute;
	background: rgba(0,0,0,0.7);
	border-radius:2px;
	min-width: 100px;
	max-width: 150px;
	min-height: 20px;
	padding: 5px 10px;
	z-index: 98;
	opacity: 1;
	transition: all 400ms ease-out;
	transition: opacity 300ms ease-in;
}

#ThreadArcsTooltipLine{
	position: absolute;
	right: 100%;
	top: 10px;
	display: block;
	height: 1px;
	background: rgba(0,0,0,0.95);
}

#ThreadArcsTooltip.hidden {
	display: none;
}

/*** DEMO */
#ThreadArcsTooltip a {
	color: #fff;
	text-decoration: none;
	font-family: 'Calluna Sans';
	font-size: 14px;
}

#ThreadArcsTooltip .inline-author {
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1px;
	font-weight: bold;
}




