body {
	background: rgb(255, 246, 238);
	padding: 50px;
}


.point,
.arc {
	transition: all 600ms ease-out;
}

.point {
	fill: rgba(136, 102, 114, .2);
	stroke: rgb(255, 246, 238);
	stroke-width: 4px;
}

.arc {
	stroke: rgba(136, 102, 114, .3);
	stroke-width: 1px;
	fill: transparent;
}

.point:hover,
.point.hover,
.point:active {
	fill: rgba(136, 102, 114, 1);
}

.point.highlight {
	fill: rgb(255, 246, 238);
	stroke: #00a19a;
	stroke-width:2px;
}

/*rgb(196, 4, 63);*/

.arc.hover {
	stroke-width: 2px;
	stroke: rgba(136, 102, 114, 1);
}

/* General styles for highlighted arcs */
.arc.depth-0, 
.arc.depth-1,
.arc.depth-2,
.arc.depth-3,
.arc.depth-4,
.arc.depth-5 {
	stroke-width: 2px;
	stroke: rgba(0, 161, 154, .2);
}

.arc.depth-m0, 
.arc.depth-m1,
.arc.depth-m2,
.arc.depth-m3,
.arc.depth-m4,
.arc.depth-m5 {
	stroke: rgba(196, 4, 63, .25);
	stroke-width: 1.2px;
}

/* Predecessors */
.point.depth-m2 { fill: rgba(196, 4, 63, .4); }
.arc.depth-m2 { stroke: rgba(196, 4, 63, .4);}

.point.depth-m1 { fill: rgba(196, 4, 63, .65); }
.arc.depth-m1 { stroke: rgba(196, 4, 63, .65); }

.point.depth-m0 { fill: rgba(196, 4, 63,  1); }
.arc.depth-m0 { stroke: rgba(196, 4, 63,  1); }

/* Descendants */
.point.depth-0 {  fill: rgba(0, 161, 154,  1); }
.arc.depth-0 {  stroke: rgba(0, 161, 154,  1); }

.point.depth-1 {  fill: rgba(0, 161, 154, .5); }
.arc.depth-1 {  stroke: rgba(0, 161, 154, .5); }

.point.depth-2 {  fill: rgba(0, 161, 154, .2); }
.arc.depth-2 {  stroke: rgba(0, 161, 154, .2); }


.ThreadArcsContainer {
	position: relative;
	z-index: 99;
}

/** Tooltip styles */
.ThreadArcsTooltip {
	background: rgb(68, 22, 36);
	border-radius:2px;
	min-width: 100px;
	max-width: 150px;
	min-height: 20px;
	padding: 5px 10px;
	line-height: 1.3;
}

.ThreadArcsTooltipLine {
	background: rgba(68, 22, 36, .3);
}

.ThreadArcsTooltip a {
	display: inline;
	color: rgb(255, 246, 238);
	text-decoration: none;
	font-family: 'Calluna Sans';
	font-size: 13px;
}

.ThreadArcsTooltip .inline-author {
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1px;
	font-weight: bold;
}




